*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  background: -webkit-linear-gradient(to bottom right,
      rgba(240, 147, 251, 1),
      rgba(245, 87, 108, 1));

  max-height: 90%;
}